* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

.header__logo {
  margin-left: 50px;
  margin-top: -86px;
}

.container {
  width: 1410px;
  margin: 0 auto;
  padding: 0 25px;
}
.container .first__header {
  height: 39px;
  width: 1440px;
  display: flex;
  gap: 9px;
  background-color: #f9f8f8;
  align-items: center;
}
.container .first__header .header__img {
  width: 14px;
  height: 13px;
}
.container .first__header .header__imges {
  width: 14px;
  height: 13px;
  margin-left: 130px;
}
.container .first__header p {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.container .first__header .inside__header {
  display: flex;
  gap: 9px;
  margin-left: 119px;
  align-items: center;
}
.container .first__header .inside__header .header__dot {
  margin-left: 10px;
  width: 4px;
  height: 4px;
}
.container .first__header .last__part {
  margin-left: 78px;
  display: flex;
  gap: 9px;
}
.container .first__header .last__part .prag__four {
  margin-left: 11px;
}
.container .second__header {
  width: 1440px;
  border: 1px;
  background-color: #ffffff;
  align-items: center;
}
.container .second__header .fish__img {
  width: 14px;
  height: 14px;
  margin-left: 270px;
  margin-top: 20px;
}
.container .second__header .uls {
  display: flex;
  gap: 55px;
  color: red;
  margin-left: 300px;
  margin-top: -20px;
}
.container .second__header .elements__header {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-left: 1170px;
  margin-top: -18px;
}

.hero .container .two__cards {
  display: flex;
}
.hero .container .two__cards .first__card .hero__img {
  width: 1568px;
  height: 850px;
  margin-left: -160px;
  margin-top: -70px;
}
.hero .container .two__cards .second__card {
  margin-left: -800px;
  margin-top: 213px;
}
.hero .container .two__cards .second__card .first__h_one {
  color: #333333;
  width: 608px;
  height: 128px;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
}
.hero .container .two__cards .second__card .first__h_one .first__span {
  color: #78c0de;
}
.hero .container .two__cards .second__card .prag__six {
  width: 495px;
  height: 105px;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
  margin-top: 30px;
}

section .container .small__text .line {
  margin-left: 646px;
}
section .container .small__text .left {
  margin-left: -550px;
}
section .container .small__text .prag__seven {
  width: 753px;
  height: 78px;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #949494;
  margin-left: 330px;
  margin-top: 43px;
}
section .container .small__text .right {
  margin-left: 1200px;
}
section .container .small__text .prag__eight {
  width: 457px;
  height: 26px;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
  margin-left: 520px;
  margin-top: 65px;
}

/*# sourceMappingURL=main.css.map */
