* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333333;
}

.header__logo {
  margin-left: 50px;
  margin-top: -86px;
}

.container {
  width: 1410px;
  margin: 0 auto;
  padding: 0 25px;

  .first__header {
    height: 39px;
    width: 1440px;
    display: flex;
    gap: 9px;
    background-color: #f9f8f8;
    align-items: center;

    .header__img {
      width: 14px;
      height: 13px;
    }

    .header__imges {
      width: 14px;
      height: 13px;
      margin-left: 130px;
    }

    p {
      font-family: "Futura PT";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
    }

    .inside__header {
      display: flex;
      gap: 9px;
      margin-left: 119px;
      align-items: center;

      .header__dot {
        margin-left: 10px;
        width: 4px;
        height: 4px;
      }
    }
    .last__part {
      margin-left: 78px;
      display: flex;
      gap: 9px;

      .prag__four {
        margin-left: 11px;
      }
    }
  }
  .second__header {
    width: 1440px;
    border: 1px;
    background-color: #ffffff;
    align-items: center;
    .fish__img {
      width: 14px;
      height: 14px;
      margin-left: 270px;
      margin-top: 20px;
    }
    .uls {
      display: flex;
      gap: 55px;
      color: red;
      margin-left: 300px;
      margin-top: -20px;
    }
    .elements__header {
      display: flex;
      align-items: center;
      gap: 3px;
      margin-left: 1170px;
      margin-top: -18px;
    }
  }
}

.hero {
  .container {
    .two__cards {
      display: flex;

      .first__card {
        .hero__img {
          width: 1568px;
          height: 850px;
          margin-left: -160px;
          margin-top: -70px;
        }
      }
      .second__card {
        margin-left: -800px;
        margin-top: 213px;

        .first__h_one {
          color: #333333;
          width: 608px;
          height: 128px;
          font-family: "Futura PT";
          font-style: normal;
          font-weight: 700;
          font-size: 70px;
          line-height: 64px;

          .first__span {
            color: #78c0de;
          }
        }
        .prag__six {
          width: 495px;
          height: 105px;
          font-family: "Futura PT";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          color: #949494;
          margin-top: 30px;
        }
      }
    }
  }
}

section {
  .container {
    .small__text {
      .line {
        margin-left: 646px;
      }
      .left {
        margin-left: -550px;
      }

      .prag__seven {
        width: 753px;
        height: 78px;
        font-family: "Futura PT";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        color: #949494;
        margin-left: 330px;
        margin-top: 43px;
      }
      .right {
        margin-left: 1200px;
      }
      .prag__eight {
        width: 457px;
        height: 26px;
        font-family: "Futura PT";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: #333333;
        margin-left: 520px;
        margin-top: 65px;
      }
    }
    .first_h2 {
      width: 296px;
      height: 38px;
      font-family: "Futura PT";
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 54px;
      display: flex;
      align-items: center;
      color: #333333;
      margin-top: 191px;
      margin-left: 580px;
    }
    .divs {
      display: flex;
      gap: 40px;
      margin-top: 80px;

      .first_div {
        width: 193px;
        height: 215px;
        background: #e6dddd;
        border-radius: 5px 5px 0px 0px;

        img {
          margin-left: 70px;
          margin-top: 40px;
        }
      }

      .prag_nine {
        font-family: "Futura PT";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #333333;
        padding-top: 21px;
        padding-left: 35px;
      }
    }
    .main__card {
      width: 1223px;
      height: 414px;
      background: #e6dddd;
      border-radius: 0px 5px 5px 5px;
      margin-left: 55px;
      margin-top: 15px;
      display: flex;
      gap: 10px;

      .cat {
        width: 590px;
        height: 332px;
        margin-top: 41px;
        margin-left: 8px;
      }
      .first_h3 {
        width: 1280px;
        height: 35px;
        font-family: "Futura PT";
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #333333;
        margin-top: 74px;
        margin-left: 18px;
      }

      .texts {
        width: 1820px;
        display: flex;
        flex-direction: column;
        gap: 9px;
        margin-top: 160px;
        margin-left: -460px;
        color: #949494;
        font-family: "Futura PT";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
      }

      .two__buttons {
        display: flex;
        gap: 21px;

        .orange__box {
          width: 185px;
          height: 50px;
          background-color: #ffbd54;
          border-radius: 3px;
          display: flex;
          gap: 9px;
          align-items: center;
          margin-top: 320px;
          margin-left: -650px;

          img {
            margin-left: 30px;
          }

          .prag_twelve {
            color: #ffff;
            font-size: 14px;
          }
        }

        .black__box {
          display: flex;
          gap: 9px;
          align-items: center;
          width: 241px;
          height: 50px;
          background: #333333;
          border-radius: 3px;
          color: #f9f8f8;
          margin-top: 320px;

          img {
            margin-left: 30px;
          }
        }
      }
    }

    .blue__card {
      width: 1220px;
      height: 308px;
      margin-left: 60px;
      margin-top: 235px;
      background-color: #78c0de;
      border-radius: 5px;

      .prag_blue_card {
        width: 994px;
        height: 48px;
        font-family: "Futura PT";
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #ffffff;
        padding-top: 90px;
        padding-left: 217px;
      }

      .two_imput {
        display: flex;
        gap: 21px;
        margin-top: 62px;
        margin-left: 222px;
        .white_input {
          width: 335px;
          height: 50px;
          background-color: #ffffff;
          border-radius: 5px;

          p {
            color: #949494;
            padding-left: 30px;
            padding-top: 15px;
          }
        }

        .black_input {
          width: 188px;
          height: 50px;
          background-color: #333333;
          border-radius: 3px;
          padding-top: 15px;
          padding-left: 40px;
          color: #ffffff;
        }
      }

      img {
        margin-left: 690px;
        margin-top: -310px;
      }
    }
  }
}

section {
  .container {
    .prga_h3 {
      margin-top: 217px;
      text-align: center;
      font-family: "Futura PT";
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 20px;
      color: #333333;
    }

    .three_pic {
      display: flex;
      gap: 24px;
      margin-left: 50px;
      margin-top: 81px;

      .first__pic {
        width: 305px;
        height: 435px;
        border: 1px solid #e4e4e2;
        border-radius: 5px;
        background-color: #e4e4e2;

        .prag_dates {
          width: 71px;
          height: 18px;
          font-family: "Futura PT";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          color: #949494;
          margin-top: 21px;
          margin-left: 213px;
        }
        .prag_first_pic {
          width: 182px;
          height: 48px;
          font-family: "Futura PT";
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 25px;
          color: #000000;
          margin-top: 2px;
          margin-left: 20px;
        }

        .prag_first_div2 {
          width: 244px;
          height: 60px;
          font-family: "Futura PT";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #949494;
          margin-top: 10px;
          margin-left: 20px;
        }
        .div_down {
          display: flex;
          gap: 15px;
          margin-top: 20px;

          .last_div_img {
            margin-top: 37px;
            margin-left: 20px;
          }
          .prag_down {
            width: 198px;
            height: 21px;
            font-family: "Futura PT";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #333333;
            margin-top: 40px;
          }
        }
      }
      .second__pic {
        display: flex;
        border: 1px solid #f3f3f3;
        border-radius: 5px;
        background-color: #e4e4e2;

        .right_pic {
          .uls {
            display: flex;
            gap: 67px;
            margin-left: 30px;
            color: #949494;
            margin-top: 41px;

            .prag_uls1 {
              display: flex;
              gap: 10px;
              color: #3d9cea;
            }
          }
          .prag_downh {
            width: 193px;
            height: 56px;
            font-family: "Futura PT";
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 29px;
            color: #333333;
            margin-top: 31px;
            margin-left: 31px;
          }
          .prag_downh2 {
            width: 270px;
            height: 180px;
            font-family: "Futura PT";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #949494;
            margin-top: 15px;
            margin-left: 31px;
          }
          .div_down22 {
            display: flex;
            gap: 15px;
            margin-top: 20px;

            .last_div_img22 {
              margin-top: 37px;
              margin-left: 20px;
            }
            .prag_down22 {
              width: 198px;
              height: 21px;
              font-family: "Futura PT";
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 21px;
              color: #333333;
              margin-top: 40px;
            }
          }
        }
      }

      .thrid__pic {
        background-color: #e4e4e2;

        .prag-date {
          width: 66px;
          height: 18px;
          font-family: "Futura PT";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          color: #949494;
          margin-top: 19px;
          margin-left: 212px;
        }

        .prag_big {
          width: 182px;
          height: 50px;
          font-family: "Futura PT";
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 25px;
          color: #000000;
          margin-top: 3px;
          margin-left: 30px;
        }

        .prag_big4 {
          width: 244px;
          height: 60px;
          font-family: "Futura PT";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #949494;
          margin-top: 13px;
          margin-left: 30px;
        }
        .div_down33 {
          display: flex;
          gap: 15px;
          margin-top: 20px;

          .last_div_img33 {
            margin-top: 37px;
            margin-left: 20px;
          }
          .prag_down33 {
            width: 198px;
            height: 21px;
            font-family: "Futura PT";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #333333;
            margin-top: 40px;
          }
        }
      }
    }
  }
}

section {
  .container {
    .last_section {
      margin-top: 265px;
      position: relative;

      .location {
        position: absolute;
        top: 280px;
        left: 120px;
      }
      .prag_last_sec {
        width: 360px;
        height: 57px;
        font-family: "Futura PT";
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 62px;
        color: #ffffff;
        margin-left: 650px;
        margin-top: -600px;
      }
      .prag_last_sec2 {
        width: 334px;
        height: 40px;
        font-family: "Futura PT";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #949494;
        margin-left: 660px;
        margin-top: 15px;
      }
      .prag_label {
        color: #949494;
        margin-left: 670px;
        position: absolute;
        top: 240px;
      }

      input {
        width: 27%;
        height: 44px;
        margin-left: 650px;
        margin-top: 63px;
      }
    }
  }
}
